/* #container {
    background-image:url('https://source.unsplash.com/category/nature/');
    background-size:cover;
    height:100vh;

} */

* {
    box-sizing: border-box;
}

/* body {
    background: green;
} */

#container {
    height: 100vh;
}